<div class="bizbo-home-background">
    
  <section class="signin-page">
    <div class="flex-total-center">
      <div class="container">
        <div class="row">
  
          <div class="col-md-12 col-sm-12 col-xs-12">
  
            <div class="row">
              <div class="signin-card card-box col-lg-12">
  
                <div class="heading margin-bottom-30">
                  <h2 class="card-heading">Admin Login</h2>
                </div>
                <div class="bizbo-signin-signup-form">
                  <form class="bizbo-signin-details" #signIn="ngForm" (ngSubmit)="Signin(username,password)">
  
                      <div class="form-group margin-bottom-30">
                        <input type="text"  [(ngModel)]="username" class="form-control form-text bizbo-textfield" name="username" id="username" placeholder="Username">
                      </div>
                      <div class="form-group margin-bottom-30">
                        <input type="password"  [(ngModel)]="password" class="form-control form-text bizbo-textfield" name="password" id="password" placeholder="Password">
                      </div>
                      <div class="row">
                        <div id="signup-link-top" class="signin-or-signup col-lg-7 col-md-7 col-sm-7 col-xs-12 no-padding flex-total-center">
                        </div>
                        <div class="signin-or-signup-button col-lg-5 col-md-5 col-sm-5 col-xs-12 no-padding flex-total-center">
                          <button class="button-normal" type="submit" name="signin-button">SIGN IN</button>
                        </div>
                        <div id="signup-link-bottom" class="signin-or-signup col-lg-7 col-md-12 col-sm-12 col-xs-12 no-padding flex-total-center">
                        </div>
                      </div>
  
                  </form>
                </div>
              </div>
            </div>
  
          </div>
          
        </div>
      </div>
    </div>
  </section>
  
  </div>