<div ngClass="bizbo-service-providers-background">

  <section ngClass="service-providers-page">

    <div ngClass="flex-top-center">

      <div ngClass="container">
        <div ngClass="row">

          <div ngClass="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">

            <div ngClass="service-providers-list-menu">

              <div ngClass="panel-group">
                <div ngClass="panel panel-default">
                  <div data-toggle="collapse" href="#serviceProvidersCollapse" ngClass="panel-heading">
                    <h4 ngClass="panel-title">
                      <a ngClass="collapse-list-heading">Service Providers</a>
                    </h4>
                  </div>
                  <div id="serviceProvidersCollapse" ngClass="panel-collapse collapse">
                    <ul ngClass="list-group">
                      <li ngClass="list-group-item service-providers-collapse-list"><a ngClass="service-provider-category-name" routerLink="#">Accountant</a></li>
                      <li ngClass="list-group-item service-providers-collapse-list"><a ngClass="service-provider-category-name" routerLink="#">Software Developer</a></li>
                      <li ngClass="list-group-item service-providers-collapse-list"><a ngClass="service-provider-category-name" routerLink="#">Sales Consultant</a></li>
                      <li ngClass="list-group-item service-providers-collapse-list"><a ngClass="service-provider-category-name" routerLink="#">Banker</a></li>
                      <li ngClass="list-group-item service-providers-collapse-list"><a ngClass="service-provider-category-name" routerLink="#">Management Consultant</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div ngClass=" col-lg-9 col-md-12 col-sm-12 col-xs-12 ">
            <div ngClass=" card-box service-providers-display-card">

              <div ngClass="service-providers-display-grid">

                <div ngClass="service-provider-profile-item">
                  <div ngClass="profile-layout-grid">
                    <div ngClass="profile-image-section">
                      <img ngClass="service-provider-profile-image" src="./assets/images/service-provider-1.png" alt="profile image">
                    </div>
                    <div ngClass="profile-desc-section">
                      <div ngClass="profile-desc-grid">
                        <div ngClass="profile-card-name">
                          <h3>Jason Abbott</h3>
                        </div>
                        <div ngClass="profile-card-place">
                          <p>Brooklyn</p>
                        </div>
                      </div>
                      <div ngClass="profile-card-connect">
                        <a ngClass="link-small" routerLink="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div ngClass="service-provider-profile-item">
                  <div ngClass="profile-layout-grid">
                    <div ngClass="profile-image-section">
                      <img ngClass="service-provider-profile-image" src="./assets/images/service-provider-2.png" alt="profile image">
                    </div>
                    <div ngClass="profile-desc-section">
                      <div ngClass="profile-desc-grid">
                        <div ngClass="profile-card-name">
                          <h3>Dollie Green</h3>
                        </div>
                        <div ngClass="profile-card-place">
                          <p>Warsaw, Poland</p>
                        </div>
                      </div>
                      <div ngClass="profile-card-connect">
                        <a ngClass="link-small" routerLink="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div ngClass="service-provider-profile-item">
                  <div ngClass="profile-layout-grid">
                    <div ngClass="profile-image-section">
                      <img ngClass="service-provider-profile-image" src="./assets/images/service-provider-3.png" alt="profile image">
                    </div>
                    <div ngClass="profile-desc-section">
                      <div ngClass="profile-desc-grid">
                        <div ngClass="profile-card-name">
                          <h3>Bryan Pratt</h3>
                        </div>
                        <div ngClass="profile-card-place">
                          <p>Stockholm, Sweden</p>
                        </div>
                      </div>
                      <div ngClass="profile-card-connect">
                        <a ngClass="link-small" routerLink="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div ngClass="service-provider-profile-item">
                  <div ngClass="profile-layout-grid">
                    <div ngClass="profile-image-section">
                      <img ngClass="service-provider-profile-image" src="./assets/images/service-provider-4.png" alt="profile image">
                    </div>
                    <div ngClass="profile-desc-section">
                      <div ngClass="profile-desc-grid">
                        <div ngClass="profile-card-name">
                          <h3>Sally Castillo</h3>
                        </div>
                        <div ngClass="profile-card-place">
                          <p>Brooklyn</p>
                        </div>
                      </div>
                      <div ngClass="profile-card-connect">
                        <a ngClass="link-small" routerLink="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div ngClass="service-provider-profile-item">
                  <div ngClass="profile-layout-grid">
                    <div ngClass="profile-image-section">
                      <img ngClass="service-provider-profile-image" src="./assets/images/service-provider-5.png" alt="profile image">
                    </div>
                    <div ngClass="profile-desc-section">
                      <div ngClass="profile-desc-grid">
                        <div ngClass="profile-card-name">
                          <h3>Bryan Pratt</h3>
                        </div>
                        <div ngClass="profile-card-place">
                          <p>Stockholm, Sweden</p>
                        </div>
                      </div>
                      <div ngClass="profile-card-connect">
                        <a ngClass="link-small" routerLink="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div ngClass="service-provider-profile-item">
                  <div ngClass="profile-layout-grid">
                    <div ngClass="profile-image-section">
                      <img ngClass="service-provider-profile-image" src="./assets/images/service-provider-6.png" alt="profile image">
                    </div>
                    <div ngClass="profile-desc-section">
                      <div ngClass="profile-desc-grid">
                        <div ngClass="profile-card-name">
                          <h3>Victor Castro</h3>
                        </div>
                        <div ngClass="profile-card-place">
                          <p>Potland, OR</p>
                        </div>
                      </div>
                      <div ngClass="profile-card-connect">
                        <a ngClass="link-small" routerLink="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <!--
                <div class="service-provider-profile-item">
                  <div class="profile-layout-grid">
                    <div class="profile-image-section">
                      <img class="service-provider-profile-image" src="images/service-provider-1.png" alt="profile image">
                    </div>
                    <div class="profile-desc-section">
                      <div class="profile-desc-grid">
                        <div class="profile-card-name">
                          <h3>Jason Abbott</h3>
                        </div>
                        <div class="profile-card-place">
                          <p>Brooklyn</p>
                        </div>
                      </div>
                      <div class="profile-card-connect">
                        <a class="link-small" href="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-provider-profile-item">
                  <div class="profile-layout-grid">
                    <div class="profile-image-section">
                      <img class="service-provider-profile-image" src="images/service-provider-2.png" alt="profile image">
                    </div>
                    <div class="profile-desc-section">
                      <div class="profile-desc-grid">
                        <div class="profile-card-name">
                          <h3>Dollie Green</h3>
                        </div>
                        <div class="profile-card-place">
                          <p>Warsaw, Poland</p>
                        </div>
                      </div>
                      <div class="profile-card-connect">
                        <a class="link-small" href="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-provider-profile-item">
                  <div class="profile-layout-grid">
                    <div class="profile-image-section">
                      <img class="service-provider-profile-image" src="images/service-provider-3.png" alt="profile image">
                    </div>
                    <div class="profile-desc-section">
                      <div class="profile-desc-grid">
                        <div class="profile-card-name">
                          <h3>Bryan Pratt</h3>
                        </div>
                        <div class="profile-card-place">
                          <p>Stockholm, Sweden</p>
                        </div>
                      </div>
                      <div class="profile-card-connect">
                        <a class="link-small" href="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-provider-profile-item">
                  <div class="profile-layout-grid">
                    <div class="profile-image-section">
                      <img class="service-provider-profile-image" src="images/service-provider-4.png" alt="profile image">
                    </div>
                    <div class="profile-desc-section">
                      <div class="profile-desc-grid">
                        <div class="profile-card-name">
                          <h3>Sally Castillo</h3>
                        </div>
                        <div class="profile-card-place">
                          <p>Brooklyn</p>
                        </div>
                      </div>
                      <div class="profile-card-connect">
                        <a class="link-small" href="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-provider-profile-item">
                  <div class="profile-layout-grid">
                    <div class="profile-image-section">
                      <img class="service-provider-profile-image" src="images/service-provider-5.png" alt="profile image">
                    </div>
                    <div class="profile-desc-section">
                      <div class="profile-desc-grid">
                        <div class="profile-card-name">
                          <h3>Bryan Pratt</h3>
                        </div>
                        <div class="profile-card-place">
                          <p>Stockholm, Sweden</p>
                        </div>
                      </div>
                      <div class="profile-card-connect">
                        <a class="link-small" href="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-provider-profile-item">
                  <div class="profile-layout-grid">
                    <div class="profile-image-section">
                      <img class="service-provider-profile-image" src="images/service-provider-6.png" alt="profile image">
                    </div>
                    <div class="profile-desc-section">
                      <div class="profile-desc-grid">
                        <div class="profile-card-name">
                          <h3>Victor Castro</h3>
                        </div>
                        <div class="profile-card-place">
                          <p>Potland, OR</p>
                        </div>
                      </div>
                      <div class="profile-card-connect">
                        <a class="link-small" href="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-provider-profile-item">
                  <div class="profile-layout-grid">
                    <div class="profile-image-section">
                      <img class="service-provider-profile-image" src="images/service-provider-1.png" alt="profile image">
                    </div>
                    <div class="profile-desc-section">
                      <div class="profile-desc-grid">
                        <div class="profile-card-name">
                          <h3>Jason Abbott</h3>
                        </div>
                        <div class="profile-card-place">
                          <p>Brooklyn</p>
                        </div>
                      </div>
                      <div class="profile-card-connect">
                        <a class="link-small" href="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-provider-profile-item">
                  <div class="profile-layout-grid">
                    <div class="profile-image-section">
                      <img class="service-provider-profile-image" src="images/service-provider-2.png" alt="profile image">
                    </div>
                    <div class="profile-desc-section">
                      <div class="profile-desc-grid">
                        <div class="profile-card-name">
                          <h3>Dollie Green</h3>
                        </div>
                        <div class="profile-card-place">
                          <p>Warsaw, Poland</p>
                        </div>
                      </div>
                      <div class="profile-card-connect">
                        <a class="link-small" href="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-provider-profile-item">
                  <div class="profile-layout-grid">
                    <div class="profile-image-section">
                      <img class="service-provider-profile-image" src="images/service-provider-3.png" alt="profile image">
                    </div>
                    <div class="profile-desc-section">
                      <div class="profile-desc-grid">
                        <div class="profile-card-name">
                          <h3>Bryan Pratt</h3>
                        </div>
                        <div class="profile-card-place">
                          <p>Stockholm, Sweden</p>
                        </div>
                      </div>
                      <div class="profile-card-connect">
                        <a class="link-small" href="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-provider-profile-item">
                  <div class="profile-layout-grid">
                    <div class="profile-image-section">
                      <img class="service-provider-profile-image" src="images/service-provider-4.png" alt="profile image">
                    </div>
                    <div class="profile-desc-section">
                      <div class="profile-desc-grid">
                        <div class="profile-card-name">
                          <h3>Sally Castillo</h3>
                        </div>
                        <div class="profile-card-place">
                          <p>Brooklyn</p>
                        </div>
                      </div>
                      <div class="profile-card-connect">
                        <a class="link-small" href="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-provider-profile-item">
                  <div class="profile-layout-grid">
                    <div class="profile-image-section">
                      <img class="service-provider-profile-image" src="images/service-provider-5.png" alt="profile image">
                    </div>
                    <div class="profile-desc-section">
                      <div class="profile-desc-grid">
                        <div class="profile-card-name">
                          <h3>Bryan Pratt</h3>
                        </div>
                        <div class="profile-card-place">
                          <p>Stockholm, Sweden</p>
                        </div>
                      </div>
                      <div class="profile-card-connect">
                        <a class="link-small" href="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="service-provider-profile-item">
                  <div class="profile-layout-grid">
                    <div class="profile-image-section">
                      <img class="service-provider-profile-image" src="images/service-provider-6.png" alt="profile image">
                    </div>
                    <div class="profile-desc-section">
                      <div class="profile-desc-grid">
                        <div class="profile-card-name">
                          <h3>Victor Castro</h3>
                        </div>
                        <div class="profile-card-place">
                          <p>Potland, OR</p>
                        </div>
                      </div>
                      <div class="profile-card-connect">
                        <a class="link-small" href="#">CONNECT</a>
                      </div>
                    </div>
                  </div>
                </div>

                -->

              </div>

            </div>
          </div>

        </div>
      </div>

    </div>

  </section>
</div>

<script>
  $(document).ready(function(){
    var windowWidth = $(window).width();
    if(windowWidth > 1024) //for iPad & smaller devices
      $('.panel-collapse').addClass('in')
  });
</script>
