
<header>
  <nav id="bizboNavbar" ngClass="bizbo-navbar navbar navbar-fixed-top navbar-default">
    <div ngClass="container">
      <div ngClass="navbar-header">
        <button type="button" ngClass="navbar-toggle" data-toggle="collapse" data-target="#navMenu">
          <span ngClass="icon-bar"></span>
          <span ngClass="icon-bar"></span>
          <span ngClass="icon-bar"></span>
        </button>
        <a ngClass="navbar-brand" routerLink="home">
          <img ngClass="img-responsive logo d-inline-block align-top" alt="Brand" src="./assets/images/bizbo_navbar_logo.png">
        </a>
      </div>
      <div ngClass="collapse navbar-collapse" id="navMenu">
        <ul ngClass="nav navbar-nav navbar-right">
          <li><a ngClass="header-nav-links active" routerLink="home">HOME</a></li>
          <li><a ngClass="header-nav-links" routerLink="about">ABOUT BIZBO</a></li>
          <li><a ngClass="header-nav-links" routerLink="service">SERVICE PROVIDERS</a></li>
          <li><a ngClass="header-nav-links" href="">SIGN IN</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
