<div class="bizbo-home-background">


  <section class="home-page">
    <div class="flex-total-center">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="get-report-card card-box col-lg-12">
                <div class="brand-logo-tag margin-bottom-30">
                  <div class="logo-main col-lg-12">
                    <img src="./assets/images/bizbo_main_logo.png" class="img-fluid" alt="Bizbo Logo" width="160">
                  </div>
                  <div class="brand-tagline">
                    <h2>Your Business consultant</h2>
                  </div>
                </div>
                <div class="description-content margin-bottom-30">
                  <p>Bizbo helps entrepreneurs and businesses analyze their performance,
                    build strategy, identify & solve problems with the power of
                    high level intelligent algorithms and data.
                  </p>
                </div>
                <div class="get-report-button">
                  <a class="button-normal" routerLink="/report-business-info">GET MY REPORT</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
