<header>
  <nav id="bizboNavbar" class="bizbo-navbar navbar navbar-fixed-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMenu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="home">
          <img class="img-responsive logo d-inline-block align-top" alt="Brand" src="./assets/images/bizbo_navbar_logo.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="header-nav-links active" routerLink="home">HOME</a></li>
          <li><a class="header-nav-links" routerLink="about">ABOUT BIZBO</a></li>
          <li><a class="header-nav-links" routerLink="service-providers">SERVICE PROVIDERS</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>