<div ngClass="bizbo-home-background">


  <section ngClass="home-page">
    <div ngClass="flex-total-center">
      <div ngClass="container">
        <div ngClass="row">

          <div ngClass="col-md-12 col-sm-12 col-xs-12">
            <div ngClass="row">
              <div ngClass="get-report-card card-box col-lg-12">
                <div ngClass="brand-logo-tag margin-bottom-30">
                  <div ngClass="brand-tagline">
                    <h2>ABOUT BIZBO</h2>
                  </div>
                </div>
                <div ngClass="description-content margin-bottom-30">
                  <p>Bizbo is an intelligent system which helps businesses. <br/>
                    Its all about helping individuals analyze their business,
                    build their goals, and achieve them. Necessary resources, data & service providers are here to help!<br/>
                  </p>
                </div>
                <div style="cursor: pointer;" ngClass="get-report-button">
                  <a data-toggle="modal" data-target="#feedbackModal" ngClass="">PROVIDE FEEDBACK</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <div style="margin-top: 10%;" ngClass="modal fade" id="feedbackModal" role="dialog">
    <div ngClass="modal-dialog">

      <!-- Modal content-->
      <div ngClass="modal-content">
        <div ngClass="modal-header">
          <button type="button" ngClass="close" data-dismiss="modal">&times;</button>
          <h4>Your feedback is important!</h4>
        </div>
        <div ngClass="modal-body" style="min-height: 350px;">

          <div style="margin-left: 40%;">
            <span ngClass="fa fa-star checked"></span>
            <span ngClass="fa fa-star checked"></span>
            <span ngClass="fa fa-star checked"></span>
            <span ngClass="fa fa-star checked"></span>
            <span ngClass="fa fa-star"></span>
          </div>

          <p>Please type in your suggestions.</p>
          <div ngClass="form-group margin-bottom-30">
            <textarea placeholder="Type your feedback here.." rows="5" cols="78"></textarea>

            <div ngClass="g-recaptcha" data-sitekey="6LekpFgUAAAAAHTYmmmMZerZQaIIxfOBdO0jq61X"></div>

            <button style="margin-top: 20px; margin-left: 40%;" ng-click="mainCtrl.submitFeedback()" ngClass="button-normal">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
