<div class="bizbo-home-background">


  <section class="home-page">
    <div class="flex-total-center">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="business-info card-box col-lg-12">

                <div class="heading margin-bottom-30">
                  <h2 class="card-heading">Business Information</h2>
                </div>
                <div class="business-info-form">
                  <form class="business-info-details" method="post">

                    <div class="row margin-bottom-10">
                      <div class="form-left col-lg-5 col-md-5 col-sm-5 col-xs-12">

                        <div class="form-group margin-bottom-30">
                          <input type="text" class="form-control form-text bizbo-textfield" data-toggle="tooltip" data-placement="top" title="Company Location" name="company-location" placeholder="Business Location">
                        </div>
                        <div class="form-group margin-bottom-30">
                          <select class="form-control form-text bizbo-textfield"  data-toggle="tooltip" data-placement="top" title="Business Type" name="select-business-type">
                            <option class="dropdown-placeholder" value="" disabled selected>Select Business Type</option>
                            <option value="taxation">Taxation & Accounting</option>
                            <option value="restaurant">Restaurant</option>
                            <option value="boutique">Fashion Boutique</option>
                          </select>
                        </div>
                        <div class="form-group margin-bottom-30">
                          <select class="form-control form-text bizbo-textfield" data-toggle="tooltip" data-placement="top" title="Niche of Business" name="niche-of-business">
                            <option class="dropdown-placeholder" value="" disabled selected>Niche of Business</option>
                            <option value="law">Law Firm</option>
                            <option value="taxation">Taxation</option>
                            <option value="auditing">Annual Auditing</option>
                          </select>
                        </div>

                      </div>

                      <div class="form-center col-lg-2 col-md-2 col-sm-2"><div class="form-division "></div></div>

                      <div class="form-right col-lg-5 col-md-5 col-sm-5 col-xs-12">

                        <div class="form-group margin-bottom-30">
                          <input type="text" class="form-control form-text bizbo-textfield" data-toggle="tooltip" data-placement="top" title="Starting Budget" name="starting-budget" id="" placeholder="Your Budget for Starting">
                        </div>
                        <div class="form-group margin-bottom-30">
                          <div class="radio-main-label">
                            <label class="form-text form-text-default">Is Your Company Registered?</label>
                          </div>
                          <div class="radio-button-label">
                            <label class="radio-text radio-inline"><input value="Yes" type="radio" name="company-registered">Yes</label>
                            <label class="radio-text radio-inline"><input value="No" type="radio" name="company-registered">No</label>
                          </div>
                        </div>
                        <div class="form-group margin-bottom-30">
                          <div class="radio-main-label">
                            <label class="form-text form-text-default">Looking for Investors?</label>
                          </div>
                          <div class="radio-button-label">
                            <label class="radio-text radio-inline"><input value="Yes" type="radio" name="need-investors">Yes</label>
                            <label class="radio-text radio-inline"><input value="No" type="radio" name="need-investors">No</label>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="row business-info-footer-button-row">
                      <div class="report-email-field col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="email" class="form-control form-text form-special bizbo-textfield" data-toggle="tooltip" ng-model="userCtrl.email" data-placement="top" title="E-mail Address" name="report-receive-email" placeholder="Your E-mail Address">
                      </div>
                      <div class="submit-business-info col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button class="button-normal">GET MY REPORT</button>
                      </div>
                    </div>

                  </form>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
<!--
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
-->

