<div ngClass="bizbo-home-background">


  <section ngClass="home-page">
    <div ngClass="flex-total-center">
      <div ngClass="container">
        <div ngClass="row">

          <div ngClass="col-md-12 col-sm-12 col-xs-12">
            <div ngClass="row">
              <div ngClass="business-info card-box col-lg-12">

                <div ngClass="heading margin-bottom-30">
                  <h2 ngClass="card-heading">Business Information</h2>
                </div>
                <div ngClass="business-info-form">
                  <form ngClass="business-info-details" method="post">

                    <div ngClass="row margin-bottom-10">
                      <div ngClass="form-left col-lg-5 col-md-5 col-sm-5 col-xs-12">

                        <div ngClass="form-group margin-bottom-30">
                          <input type="text" ngClass="form-control form-text bizbo-textfield" data-toggle="tooltip" data-placement="top" title="Company Location" name="company-location" placeholder="Business Location">
                        </div>
                        <div ngClass="form-group margin-bottom-30">
                          <select ngClass="form-control form-text bizbo-textfield"  data-toggle="tooltip" data-placement="top" title="Business Type" name="select-business-type">
                            <option ngClass="dropdown-placeholder" value="" disabled selected>Select Business Type</option>
                            <option value="taxation">Taxation & Accounting</option>
                            <option value="restaurant">Restaurant</option>
                            <option value="boutique">Fashion Boutique</option>
                          </select>
                        </div>
                        <div ngClass="form-group margin-bottom-30">
                          <select ngClass="form-control form-text bizbo-textfield" data-toggle="tooltip" data-placement="top" title="Niche of Business" name="niche-of-business">
                            <option ngClass="dropdown-placeholder" value="" disabled selected>Niche of Business</option>
                            <option value="law">Law Firm</option>
                            <option value="taxation">Taxation</option>
                            <option value="auditing">Annual Auditing</option>
                          </select>
                        </div>

                      </div>

                      <div ngClass="form-center col-lg-2 col-md-2 col-sm-2"><div ngClass="form-division "></div></div>

                      <div ngClass="form-right col-lg-5 col-md-5 col-sm-5 col-xs-12">

                        <div ngClass="form-group margin-bottom-30">
                          <input type="text" ngClass="form-control form-text bizbo-textfield" data-toggle="tooltip" data-placement="top" title="Starting Budget" name="starting-budget" id="" placeholder="Your Budget for Starting">
                        </div>
                        <div ngClass="form-group margin-bottom-30">
                          <div ngClass="radio-main-label">
                            <label ngClass="form-text form-text-default">Is Your Company Registered?</label>
                          </div>
                          <div ngClass="radio-button-label">
                            <label ngClass="radio-text radio-inline"><input value="Yes" type="radio" name="company-registered">Yes</label>
                            <label ngClass="radio-text radio-inline"><input value="No" type="radio" name="company-registered">No</label>
                          </div>
                        </div>
                        <div ngClass="form-group margin-bottom-30">
                          <div ngClass="radio-main-label">
                            <label ngClass="form-text form-text-default">Looking for Investors?</label>
                          </div>
                          <div ngClass="radio-button-label">
                            <label ngClass="radio-text radio-inline"><input value="Yes" type="radio" name="need-investors">Yes</label>
                            <label ngClass="radio-text radio-inline"><input value="No" type="radio" name="need-investors">No</label>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div ngClass="row business-info-footer-button-row">
                      <div ngClass="report-email-field col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="email" ngClass="form-control form-text form-special bizbo-textfield" data-toggle="tooltip" data-placement="top" title="E-mail Address" name="report-receive-email" placeholder="Your E-mail Address">
                      </div>
                      <div ngClass="submit-business-info col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button ngClass="button-normal" routerLink="">GET MY REPORT</button>
                      </div>
                    </div>

                  </form>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
<!--
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
-->

