<div ngClass="bizbo-home-background">


  <section ngClass="home-page">
    <div ngClass="flex-total-center">
      <div ngClass="container">
        <div ngClass="row">

          <div ngClass="col-md-12 col-sm-12 col-xs-12">
            <div ngClass="row">
              <div ngClass="get-report-card card-box col-lg-12">
                <div ngClass="brand-logo-tag margin-bottom-30">
                  <div ngClass="logo-main col-lg-12">
                    <img src="./assets/images/bizbo_main_logo.png" ngClass="img-fluid" alt="Bizbo Logo" width="160">
                  </div>
                  <div ngClass="brand-tagline">
                    <h2>Your Business consultant</h2>
                  </div>
                </div>
                <div ngClass="description-content margin-bottom-30">
                  <p>Bizbo helps entrepreneurs and businesses analyze their performance,
                    build strategy, identify & solve problems with the power of
                    high level intelligent algorithms and data.
                  </p>
                </div>
                <div ngClass="get-report-button">
                  <a ngClass="button-normal" routerLink="/report-business-info">GET MY REPORT</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
